input:invalid {
  border-color: red;
}

.container {
  display: grid;
  grid-template: 80px 80px 400px 80px / 80px 240px;
  gap: 15px;
}

.container > div {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color: white;
  border-radius: 10px;
}

#header {
  background-color: teal;
  grid-column: 1 / 3;
  grid-row: 1;
}

#nav {
  background-color: paleturquoise;
  grid-column: 2;
  grid-row: 2;
}

#sidebar {
  background-color: blue;
  grid-column: 1;
  grid-row: 2 / 4;
}

#article {
  background-color: blueviolet;
  grid-column: 2;
  grid-row: 3;
}

#footer {
  background-color: grey;
  grid-row: 4;
  grid-column: 1 / 3;
}
