/* Colour Palette:
https://lospec.com/palette-list/gold-masks
*/

* {
  color: #ff9a3d;
}

body {
  padding: 6rem;
}

p {
  color: #b84300;
}

body {
  background-color: #2a0f00;
}

button {
  background: #4a1c00;
  border: 2px solid #b84300;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.grid-container {
  display: inline-grid;
  background-color: #b84300;
  gap: 4px;
  padding: 4px;
  /* border: 2px solid #b84300;
  background: #4a1c00; */
  /* grid-template-rows: repeat(3, 150px); */
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

img {
  height: auto;
  width: 100px;
}

.menu-item {
  background: #4a1c00;
  text-align: center;
}
