.grid-container {
  display: inline-grid;
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: repeat(4, 50px);
  gap: 5px;
  padding: 2rem;
  border: 2px black solid;
}

.grid-container > * {
  text-align: center;
  width: 100%;
  height: 100%;
}

#display {
  grid-column: 1 / 5;
  text-align: start;
  border: 2px grey solid;
}

#display p {
  margin: 0.4em;
}

#clear {
  grid-column: 1 / 4;
}

.toggle {
  background-color: orange;
}
