* {
  color: var(--main-color);
}

:root {
  --main-color: #b8e2d4;
  --accent-color: #f68d8c;
}

@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("./fonts/ClashGrotesk-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

h1,
h2 {
  font-family: "ClashGrotesk-Semibold";
}

body {
  background-color: black;
  padding: 2rem 4rem;
}
